<mat-toolbar color="#F8F8FB" class="header-toolbar">
  <!-- Parte izquierda del header -->
  <img src="assets/transportapp-logo.png" alt="Logo" class="logo" />
  <span class="title">TransportApp</span>

  <!-- Parte derecha del header -->
  <span class="spacer"></span> <!-- Este span actúa como separador flexible -->

  <div class="user-info">
    <span>Hi Carlos</span>
    <img src="assets/user-avatar.jpg" alt="User Avatar" class="avatar" />
    <mat-icon>logout</mat-icon> <!-- Aquí puedes usar cualquier ícono que necesites -->
  </div>
</mat-toolbar>