<h2 mat-dialog-title>Add Vehicle</h2>
<div mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Type of vehicle</mat-label>
    <input matInput placeholder="Heavy duty truck">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>License plate</mat-label>
    <input matInput placeholder="JND-788">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Capacity</mat-label>
    <input matInput placeholder="2 t">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Papers</mat-label>
    <input matInput placeholder="Upload document">
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Modelo</mat-label>
    <input matInput placeholder="Renault Trucks">
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button color="primary">Add vehicle</button>
</div>
