<div class="offers-container">
  <h2>See Offers</h2>

  <div class="offer-card">
    <div class="offer-sub-card">
      <div class="offer-info">
        <div class="details">
          <div>
            <p>Ideal temperature</p>
            <h3>21° C</h3>
          </div>
          <div>
            <p>Ideal Weight</p>
            <h3>1.7 t</h3>
          </div>
        </div>
        <div class="locations">
          <div>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <p>
              Start Location
            </p>
            <p><strong>Lima</strong></p>
          </div>
          <div>
            <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
            <p>
              Arrival place
            </p>
            <p><strong>Lambayeque</strong></p>
          </div>
        </div>
      </div>

      <div class="offer-actions">
        <button class="confirm-btn">Confirm</button>
        <button class="decline-btn">Decline</button>
        <h3>S/ 200</h3>
      </div>
    </div>
    <div class="offer-price">
      <div class="client-info">
        <p>Client</p>
        <img src="https://i.pinimg.com/474x/be/a0/58/bea05869ef7e111eb96f0393dde0888a.jpg" alt="Client Picture" class="client-image" />
        <p><strong>Carlos Benites</strong></p>
        <p>Offer created on March 17</p>
      </div>
    </div>
  </div>

  <!-- Duplicate the offer card for the second offer -->

</div>
