<div class="profile-container">
  <div class="container-cards">
    <!-- Profile Card -->
    <div class="profile-card" *ngIf="profile">
      <img
        src="https://cdn-icons-png.flaticon.com/512/4042/4042171.png"
        alt="Profile Picture"
        class="profile-image"
      />
      <h2>{{ profile.fullName }}</h2>
      <p>
        Transportista independiente con 10 años de experiencia. Especializado en
        el traslado de carga pesada. Cuento con tecnología IoT para el monitoreo
        en tiempo real de mis vehículos, garantizando entregas seguras y
        puntuales.
      </p>
      <button class="edit-btn" (click)="toggleEditMode()">
        {{ isEditing ? 'Cancel' : 'Edit Profile' }}
      </button>
    </div>

    <!-- Profile Details -->
    <div class="profile-details" *ngIf="profile">
      <h3>Profile Information</h3>

      <!-- Modo visualización -->
      <div *ngIf="!isEditing">
        <div class="profile-details-row">
          <span>Full Name:</span>
          <p>{{ profile.fullName }}</p>
        </div>
        <div class="profile-details-row">
          <span>Phone:</span>
          <p>{{ profile.phone }}</p>
        </div>
        <div class="profile-details-row">
          <span>DNI:</span>
          <p>{{ profile.dni }}</p>
        </div>
        <div class="profile-details-row">
          <span>Location:</span>
          <p>{{ profile.city }}</p>
        </div>
        <div class="profile-details-row">
          <span>Email:</span>
          <p>{{ profile.email }}</p>
        </div>
      </div>

      <!-- Modo editable -->
      <div *ngIf="isEditing">
        <div class="profile-details-row">
          <span>Full Name:</span>
          <input [(ngModel)]="editableProfile.fullName" />
        </div>
        <div class="profile-details-row">
          <span>Phone:</span>
          <input [(ngModel)]="editableProfile.phone" />
        </div>
        <div class="profile-details-row">
          <span>DNI:</span>
          <input [(ngModel)]="editableProfile.dni" />
        </div>
        <div class="profile-details-row">
          <span>Location:</span>
          <input [(ngModel)]="editableProfile.city" />
        </div>
        <div class="profile-details-row">
          <span>Email:</span>
          <input [(ngModel)]="editableProfile.email" />
        </div>

        <button class="save-btn" (click)="saveProfile()">Save Changes</button>
      </div>
    </div>
  </div>
</div>
