.profile-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

/* Profile Card Styles */
.profile-card {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 500px;
}

.profile-image {
  width: 90%;
  border-radius: 20%;
  object-fit: cover;
}

.profile-card h2 {
  margin: 10px 0;
  font-size: 22px;
}

.profile-card p {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.edit-btn {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.edit-btn:hover {
  background-color: #16a085;
}
/* NEW Profile Details Styles */
.profile-details-titles p{
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 5px;
}
.profile-details-information p{
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(131, 131, 131, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 5px;
}
.profile-details-right{

}
.profile-details-right2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* Profile Details Styles */
.profile-details {
  background-color: white;
  border-radius: 15px;
  padding: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: 470px;

  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  color: #002244;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.detail-row span {
  font-weight: bold;
  color: #333;
}

.detail-row p {
  color: #555;
}

.add-vehicle-btn {
  background-color: #1abc9c;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 50%;
  font-size: 14px;
  text-align: center;
}

.add-vehicle-btn:hover {
  background-color: #16a085;
}
.add-vehicle-btn:active{
  background-color: #2fd3b3;
}
