<div class="profile-container">
  <div class="container-cards">
    <!-- Left Section: Profile Card -->
    <div class="profile-card" *ngIf="profile">
      <img
        src="https://cdn-icons-png.flaticon.com/512/4042/4042171.png"
        alt="Profile Picture"
        class="profile-image"
      />
      <h2>{{ profile.fullName }}</h2>
      <p>
        Transportista independiente con 10 años de experiencia. Especializado en el traslado de carga pesada. Cuento con tecnología IoT para el monitoreo en tiempo real de mis vehículos, garantizando entregas seguras y puntuales.
      </p>
      <button class="edit-btn">Edit Profile</button>
    </div>

    <!-- Right Section: Profile Details -->
    <div class="profile-details" *ngIf="profile">

      <!-- Right Section: ultra right xd -->
      <div class="profile-details-right">
        <div class="profile-details-right2">
          <div class="profile-details-titles">
            <p>Full Name</p>
            <p>Cell Number</p>
            <p>DNI</p>
            <p>Location</p>
          </div>

          <div class="profile-details-information">
            <p>{{ profile.fullName }}</p>
            <p>{{ profile.phone }}</p>
            <p>{{ profile.dni }}</p>
            <p>{{ profile.city }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
