<div class="login-container">
  <img src="assets/transportapp-logo.png" alt="Logo" class="logo">
  <h2>Welcome back!</h2>

  <div class="login-box">
    <h3>Login</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'" type="email" placeholder="john.doe@gmail.com">
        <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [formControlName]="'password'" [type]="hidePassword ? 'password' : 'text'" placeholder="********">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.controls['password'].invalid && loginForm.controls['password'].touched">
          Password is required and should be at least 6 characters long.
        </mat-error>
      </mat-form-field>
    
      <div class="form-options">
        <mat-checkbox [formControlName]="'rememberMe'">Remember me</mat-checkbox>
        <a class="forgot-password" href="#">Forgot Password</a>
      </div>
    
      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>
    </form>

    <div class="signup">
      Don’t have an account? <a href="#">Sign up</a>
    </div>
  </div>
</div>