<div class="dashboard-container">

  <div class= "right-cards">
    <div class= "right-cards-bottom">
      <div class="card weight-card">
        <h3>Weight</h3>
        <div class="content">
          <span class="value">1.7 t</span>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7TBc1TcdvLKm1FNIM2ySRr9hGKTuK0RQljYoQuv6f412KLbPB">
        </div>
      </div>
      <div class="card temperature-card">
        <h3>Temperature</h3>
        <div class="content">
          <span class="value">22°C</span>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRycHfhTeqON5T8r8IPKqoYCncsZpgNHhC_UG96SxD8bR5RdMNZ">
        </div>
        <div class="toggle">
          <label>Auto Room Temperature System</label>
          <input type="checkbox" checked />
        </div>
      </div>
    </div>
    <div class="card current-request-card">
      <h3>Current request</h3>
      <div class="request-details">
        <div class="request-info">
          <div>
            <span class="label">Ideal temperature</span>
            <span class="value">21°C</span>
          </div>
          <div>
            <span class="label">Ideal Weight</span>
            <span class="value">1.7 t</span>
          </div>
        </div>
        <div class="locations">
          <span>Start Location</span><strong>Lima</strong>
          <span>Arrival place</span><strong>Lambayeque</strong>
        </div>
        <div class="client-info">
          <span>Client</span>
          <div class="client">
            <img src="https://yt3.googleusercontent.com/ytc/AIdro_mlaCQQm9EWnAme2UV11II3wDltUcMRk72jwg_hjjqzgw=s900-c-k-c0x00ffffff-no-rj" alt="Client" />
            <span>Carlos Benites</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class= "left-cards">
    <div class="card notifications-card">
      <h3>Notifications</h3>
      <ul>
        <li><span class="dot red"></span>Thermostat regulates temperature <span>5 min ago</span></li>
        <li><span class="dot green"></span>Delivery confirmation <span>12 min ago</span></li>
        <li><span class="dot green"></span>Cargo tampering alarm <span>16 min ago</span></li>
      </ul>
    </div>
    <div class="card alarms-card">
      <h3>Alarms</h3>
      <ul>
        <li><span class="dot red"></span>Temperature rose by 5° <span>5 min ago</span></li>
        <li><span class="dot green"></span>Delay alarm <span>12 min ago</span></li>
        <li><span class="dot green"></span>Cargo tampering alarm <span>16 min ago</span></li>
      </ul>
    </div>
  </div>

</div>
