<div class="login-container">
  <img src="assets/transportapp-logo.png" alt="Logo" class="logo">
  <h2>Insert your new Password</h2>

  <div class="login-box">
    <h3>New Password</h3>
    <form [formGroup]="newPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput [formControlName]="'newPassword'" [type]="hidePassword ? 'password' : 'text'" placeholder="********">
        <button mat-icon-button matSuffix (click)="togglePasswordVisibility()" type="button">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="newPasswordForm.controls['newPassword'].invalid && newPasswordForm.controls['newPassword'].touched">
          Password must be at least 6 characters long.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm New Password</mat-label>
        <input matInput [formControlName]="'confirmPassword'" [type]="hidePassword ? 'password' : 'text'" placeholder="********">
        <mat-error *ngIf="newPasswordForm.controls['confirmPassword'].invalid && newPasswordForm.controls['confirmPassword'].touched">
          Passwords must match.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="newPasswordForm.invalid">
        Update Password
      </button>
    </form>
  </div>
</div>
