<div class="login-container">
  <img src="assets/transportapp-logo.png" alt="Logo" class="logo">
  <h2>Forgot Password</h2>

  <div class="login-box">

    <span class="back-to-login" (click)="goToLogin()">&lt; Back to Login</span>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput [formControlName]="'email'" type="email" placeholder="john.doe@gmail.com">
        <mat-error *ngIf="forgotPasswordForm.controls['email'].invalid && forgotPasswordForm.controls['email'].touched">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit" (click)="goToNewPassword()" [disabled]="forgotPasswordForm.invalid">
        Reset Password
      </button>
    </form>
  </div>
</div>
