<div class="dashboard-container">

  <div class= "right-cards">
    <div class="right-cards-bottom">
      <!-- Tarjeta de Peso -->
      <div class="card weight-card">
        <h3>Weight</h3>
        <div class="content">
          <!-- Mostrar dinámicamente el peso -->
          <span class="value">{{ request?.idealWeight || 'N/A' }} Kg</span>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7TBc1TcdvLKm1FNIM2ySRr9hGKTuK0RQljYoQuv6f412KLbPB" alt="Weight Icon">
        </div>
      </div>
      <div class="card temperature-card">
        <h3>{{ 'home.temperature' | translate }}</h3>
        <div class="content">
          <!-- Mostrar dinámicamente la temperatura -->
          <span class="value">{{ request?.idealTemperature || 'N/A' }}°C</span>
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRycHfhTeqON5T8r8IPKqoYCncsZpgNHhC_UG96SxD8bR5RdMNZ" alt="Temperature Icon">
        </div>
        <div class="toggle">
          <label>{{ 'home.autosystem' | translate }}</label>
          <input type="checkbox" checked />
        </div>
      </div>
    </div>
    <div class="current-request-card" *ngIf="request">
      <div class="left-current-request">
        <h3>{{ 'home.currentrequest' | translate }}</h3>
        <div class="request-card">
          <div class="request-info">
            <div class="card-sub-monitoring">
              <span class="label">{{ 'home.idealtemperature' | translate }}</span>
              <span class="value">16 °C</span>
            </div>
            <div class="locations">
              <mat-icon>location_on</mat-icon>
              <p>{{ 'home.startlocation' | translate }}</p>
              <strong>{{ request.startLocation }}</strong>
            </div>
          </div>
          <div class="request-info">
            <div class="card-sub-monitoring">
              <span class="label">{{ 'home.idealweight' | translate }}</span>
              <span class="value">20 Kg</span>
            </div>
            <div class="locations">
              <mat-icon>location_on</mat-icon>
              <p>{{ 'home.arrivalplace' | translate }}</p>
              <strong>{{ request.arrivalPlace }}</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="right-current-request">
        <span>Client</span>
        <img src="https://yt3.googleusercontent.com/ytc/AIdro_mlaCQQm9EWnAme2UV11II3wDltUcMRk72jwg_hjjqzgw=s900-c-k-c0x00ffffff-no-rj" alt="Client" />
        <span>Rod Sabino</span>
      </div>
    </div>
  </div>
  <div class="left-cards">
    <div class="card notifications-card">
      <h3>{{ 'home.graphic' | translate }}</h3>
      <app-temperature-weight-chart
        [temperatureData]="temperatureData"
        [weightData]="weightData"
        [labels]="timeLabels">
      </app-temperature-weight-chart>
    </div>
    <div class="card alarms-card">
      <h3>Alarms</h3>
      <ul class="notification-list">
        <li *ngFor="let alarm of alarms" [ngClass]="{'red': alarm.type === 'red', 'green': alarm.type === 'green'}">
          <span class="dot" [ngClass]="alarm.type"></span>
          <div class="notification-content">
            <span>{{ alarm.message }}</span>
            <p class="timestamp">{{ alarm.timestamp }}</p>
          </div>
        </li>
      </ul>
      
    </div>
  </div>

</div>
